<div style="float:left;">
    <div class="container">
        <div class="wrap">
                <a href="{{url}}" data-inline="true" 
                   style="padding:0;margin:0;background-color:transparent;
                          box-shadow:none;-webkit-box-shadow:none;
                          -moz-box-shadow:none;border-width:0;"
                    rel="external"
                    data-role="button"
                    data-theme="b">
                    <img class="filter-drop-shadow"
                         style="vertical-align:middle;padding:4px"
                         src="{{image}}">
                </a>
        </div>
    </div>
</div>
